{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Кино{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Кино</h1>
            <div class="user-info">
                {% if user.is_authenticated %}
                    <p>{{ user.username }}!</p>
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'signup' %}">Зарегистрироваться</a>
                    <a href="{% url 'custom_login' %}">Войти</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

    </main>
</body>
</html>
