{% extends 'base.html' %}
{% block content %}
    <h2>Фильмы</h2>
    <ul>
        {% for film in movie %}
            <li>
                <div class="film-poster">
                    <img src="{{ film.img.url }}" alt="{{ film.title }} Poster">
                </div>
                <div class="film-details">
                    <h3><a href="{% url 'film_detail' film.id %}">{{ film.title }}</a></h3>
                    <p>{{ film.description }}</p>
                    {% with rating=film.rating_set.first %}
                        {% if rating %}
                            <p>Оценка: {{ rating.value }}/5</p>
                        {% else %}
                            <p>Оценка отсутствует</p>
                        {% endif %}
                    {% endwith %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}








